server/dtd/types.dtd

<!ELEMENT types (type)*>

<!ELEMENT type (name, unit?, range?, values?)>
<!ATTLIST type id CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT unit (#PCDATA)>

<!ELEMENT range EMPTY>
<!ATTLIST range
	min    CDATA #IMPLIED
	max    CDATA #IMPLIED
	step   CDATA #IMPLIED
>

<!ELEMENT values (value+)>
<!ELEMENT value (#PCDATA)>
<!ATTLIST value equals CDATA #REQUIRED>
